@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Friz Quadrata";
  src: url("fonts/FrizQuadrata.ttf") format("truetype");
}

body {
  /* font-family: sans-serif; */
  font-family: "Friz Quadrata", serif;
  color: #c8aa6e;
  /* background-image: linear-gradient(
    to left bottom,
    #0a1428,
    #0b172d,
    #0c1a33,
    #0d1c38,
    #0e1f3e,
    #0f2545,
    #102a4d,
    #103054,
    #0f3a60,
    #0c446b,
    #074f77,
    #005a82
  ); */
}

input[type="number"] {
  text-align: center;
  border-radius: 4px;
}
.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  background-color: white;
  animation: rotate 4s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  inset: 4px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #c8aa6e) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
/* ol {
  list-style-type: decimal;
}
li {
  display: list-item;
  list-style-position: inside;
} */
